/*=============== BANNER SECTION ===============*/
#banner {
	background: url(../../images/bg-banner.png) no-repeat;
	background-size: 100%;
	height: 100vh;
	border-bottom: var(--separator) var(--black-900);
}

.banner__card {
	background-color: #f25a70;
	text-align: center;
	padding: 42px 34px;
	box-shadow: var(--shadow);
}

.banner__card .title {
	margin-top: 30px;
}
