/*=============== NAVBAR ===============*/
#navbar {
	padding: 15px 20px;

	background-color: var(--black-900);
	color: var(--color-third);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__list {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 30px;
}

/*Essa estrategia serve para selecionar apenas até o quarto elemento da lista*/
.navbar__list li:nth-child(-n + 4)::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: var(--color-first);
	margin-right: 10px;
}
